* {
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}
.main-card{
  justify-content: center;
  align-items:center;
  margin:50px 500px;
}

.btn{
  background-color:blue;
  border:0px solid  black;
  color:white;
  padding:10px 70px;
  border-radius:8px;
}
.error {
  color: red;
}
.link{
  color:blue;
}